<style>
    .main {
        width: 90%;
        height: 90%;
        background-color: #FFFF;
        border-radius: 15px;
    }

    .stats {
        height: 70%;
        margin-right: 2%;
        margin-left: 8%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        gap: 20px;
    }

    .stat-divs {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 14px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        height: 180px;
    }

    .stat-text {
        font-size: 2.7rem;
    }

    .stat-num {
        font-size: 5.8rem;
    }

    .progress-container {
        height: 12px;
        border-radius: 40px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .progress {
        width: 0%;
        height: 100%;
        background-color: #602BF8;
        border-radius: 40px;
    }

    .happy-client-progress {
        width: 25%;
    }

    .people-awared-bottom-div {
        display: flex;
    }

    .people-awared-buttom-div-left {
        width: 50%;
    }

    .daily-goal-data {
        font-weight: bold;
        margin-right: 2%;
        font-size: 2rem;
    }

    .daily-goal-text {
        font-size: 2rem;
    }

    .outercircle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        padding: 8px;
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
            -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    }

    .innercircle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95%;
        width: 95%;
        border-radius: 50%;
        box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
            inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
            -0.5px -0.5px 0px rgba(255, 255, 255, 1),
            0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
            0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    }

    .innercircle span {
        font-weight: bold;
        font-size: 2rem;
    }

    .graph-stat {
        grid-column: 1 / -1;
    }
</style>

<body>
    <main class="main">


        <section class="stats">
            <div class="stat-divs link-sent-stat">
                <div class="statbox-head">
                    <span class="stat-text">Total Links Sent</span>
                </div>
                <span class="stat-num">25</span>
                <div class="link-sent-progress-div progress-div">
                    <div class="link-sent-progress-container progress-container">
                        <div class="link-sent-progress progress" style="width: 70%;">
                            <!-- <div class="marker">70%</div>         "I will make this later on......."-->
                        </div>
                    </div>
                </div>
                <span class="stat-text">Response rate</span>
            </div>

            <div class="stat-divs people-awared-stat">
                <span class="stat-text">Total People Awared</span>
                <div class="people-awared-bottom-div">
                    <div class="people-awared-buttom-div-left">
                        <span class="stat-num">21</span>
                        <div class="daily-goal"><span class="daily-goal-data">70%</span><span
                                class="daily-goal-text">Daily goal</span></div>
                        <div class="daily-goal"><span class="daily-goal-data">72</span><span
                                class="daily-goal-text">This week</span></div>
                    </div>
                    <div class="people-awared-buttom-div-right">
                        <div class="outercircle">
                            <div class="innercircle"><span>62%</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="stat-divs happy-client-stat">
                <div class="statbox-head">
                    <span class="stat-text">Happy clients</span>
                </div>
                <span class="stat-num">45</span>
                <div class="happy-client-progress-div progress-div">
                    <div class="happy-client-progress-container progress-container">
                        <div class="happy-client-progress progress">
                            <!-- <div class="marker">70%</div>         "I will make this later on......."-->
                        </div>
                    </div>
                </div>
                <span class="stat-text">Response rate</span>
            </div>
            <canvas class="stat-divs graph-stat"></canvas>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
<script>
   

    
</script>