<style>
  .card-container {
    width: 20rem;
    padding: 1.1rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.2);
    border-radius: 1.2rem;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }

  .platform-tag {
    background-color: #e9f0ff;
    color: #6a6fc5;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.3rem 0.8rem;
    border-radius: 5rem;
    width: fit-content;
  }

  .link {
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: underline;
    color: black;
    word-break: break-word;
  }

  .date {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.4;
  }

  .date label {
    color: #b89b77;
    margin-bottom: 0.3rem;
    font-size: 0.95rem;
  }

  .date time {
    color: #a18be0;
    font-weight: 500;
  }
</style>

<div class="main-container">
    <div class="login-boiler-container">
        <div class="lgn-header"></div>
        <h1>Welcome Back...</h1>
        <div class="info-text">
            <p>Please enter your email and password</p>
        </div>
        <div class="input-fileds">
            <input type="text" id='email' required placeholder="user@gmail.com">
            <input type="password" name="pass" id="pass" required placeholder="Password">
        </div>
        <div class="terms-conditions">
            <p>By login you agree to our</p><a href="#"> Terms & Conditions</a>
        </div>
        <div class="actions-button">
            <button id="lgn-btn">login...</button>
            <div class="f-pas">forgot password</div>
        </div>
        <hr>
        <div class="footer">
            Online threats are real. <span>Be ready.</span>
        </div>
    </div>
</div>

