<style>
    .header{
        height: 5rem;
    }
    .header h1{
        font-size: 3rem;
    }
    .mainContainer{
        display: flex;
        flex-direction: column;
        height: 87%;
        gap: 3rem;

    }
.pannel-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
     height: calc(100% - 5rem - 3rem);
    width: 95%;
    border: 0.2rem solid rgba(0, 0, 0, 0.4);
    border-radius: 3rem;
    overflow-y: scroll;
}
</style>
<div class="mainContainer">
      <div class="header">
    <h1>Phishing Shield</h1>
  </div>
<div class="pannel-container">
  <!-- Contents are appended here -->
</div>

</div>